@model Warhammer.Application.Models.IdentityViewModels.ChangePasswordViewModel

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong style="line-height: 2.5em; font-size: 14px">@Warhammer.Application.Resources.Identity.ChangePassword</strong>
                </div>
                <div class="card-body">
                    <form asp-action="ChangePassword" method="post">
                        <h1>@ViewData["Title"]</h1>
                        <div class="text-muted">
                            <div>- @Warhammer.Application.Resources.Identity.PasswordMinimumCharacters</div>
                            <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneLowercaseAZ</div>
                            <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneUppercaseAZ</div>
                            <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneDigit09</div>
                            <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneNonAlphanumericCharacter</div>
                        </div>
                        <br/>

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <input asp-for="OldPassword" class="form-control" placeholder="@Warhammer.Application.Resources.Identity.CurrentPassword" autofocus="autofocus"  />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <input asp-for="Password" class="form-control" placeholder="@Warhammer.Application.Resources.Identity.NewPassword" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="@Warhammer.Application.Resources.Identity.NewPasswordConfirmation" />
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary px-4">@Warhammer.Application.Resources.Identity.Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
