@model Warhammer.Application.Models.IdentityViewModels.ResetPasswordViewModel
@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = @Warhammer.Application.Resources.Identity.ResetPassword;
}

<div class="card-body p-4">
    <h2>@ViewData["Title"]</h2>
    <div class="text-muted">
        <div>- @Warhammer.Application.Resources.Identity.PasswordMinimumCharacters</div>
        <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneLowercaseAZ</div>
        <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneUppercaseAZ</div>
        <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneDigit09</div>
        <div>- @Warhammer.Application.Resources.Identity.PasswordMustHaveAtLeastOneNonAlphanumericCharacter</div>
    </div>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" autofocus="autofocus" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">@Warhammer.Application.Resources.Identity.Reset</button>
    </form>
</div>